<div class="container">
    <div class="content">
        <div class="image-cnt">
            <img src="../../../assets/logo.png" alt="bookstore_logo" class="bookstore-logo-cnt">
            <p id="logo-content">Online book shopping</p>
            <div class="cnt">
                <div class="data-cnt">
                    <mat-tab-group>
                        <mat-tab label="LOGIN" class="login-class">
                            <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="login-form-cnt">
                                <mat-label>Email id</mat-label>
                                    <mat-form-field appearance="outline">
                                      <input matInput type="email" formControlName="email" class="height-cnt">
                                    </mat-form-field>
                                <div class="validator-color-cnt" *ngIf="submitOnLogin && login?.['email']?.errors?.['minlength']" id="validator-cnt">Email must be a valid email address</div>
                                <div class="validator-color-cnt" *ngIf="submitOnLogin && login?.['email']?.errors?.['required']" id="validator-cnt">Email is required</div>
                                <mat-label>Password</mat-label>
                                <mat-form-field class="pwd-cnt" appearance="outline" >
                                    <input matInput type="password" formControlName="password" class="height-cnt">
                                </mat-form-field>
                                <div class="validator-color-cnt" *ngIf="submitOnLogin && login?.['password']?.errors?.['required']" id="pwd-validator-cnt">Password is required</div>
                                <mat-label class="forgot-cnt">Forgot Password?</mat-label>
                                <button mat-raised-button color="primary" [ngStyle]="{'background-color': '#A03037'}" class="login-btn" (click)="loginuser()">Login</button>
                                <mat-label class="or-cnt">--------------- OR --------------</mat-label>
                                <div class="other-options-cnt">
                                    <button mat-raised-button color="primary" class="fb-btn">Facebook</button>
                                    <button mat-raised-button class="google-btn">Google</button>
                                </div>
                              </form>
                        </mat-tab>
                        <mat-tab label="SIGNUP">
                            <form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="signup-form-cnt">
                            <mat-label>Full Name</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput type="text" formControlName="fullName" class="height-cnt">
                                </mat-form-field>
                                <div class="validator-color-cnt" *ngIf="submitOnRegister && f?.['fullName']?.errors?.['minlength']" id="validator-cnt">Name should contain atleast 4 characters</div>
                                <div class="validator-color-cnt" *ngIf="submitOnRegister && f?.['fullName']?.errors?.['required']" id="validator-cnt">Name is required</div>
                                <mat-label>Email id</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput type="email" formControlName="email" class="height-cnt">
                                </mat-form-field>
                                <div class="validator-color-cnt" *ngIf="submitOnRegister && f?.['email']?.errors?.['minlength']" id="validator-cnt">Email must be a valid email address</div>
                                <div class="validator-color-cnt" *ngIf="submitOnRegister && f?.['email']?.errors?.['required']" id="validator-cnt">Email is required</div>
                                <mat-label>Password</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput type="password" formControlName="password" class="height-cnt">
                                </mat-form-field>
                                <div class="validator-color-cnt" *ngIf="submitOnRegister && f?.['password']?.errors?.['required']" id="pwd-validator-cnt">Password is required</div>
                                <div class="validator-color-cnt" *ngIf="submitOnRegister && f?.['password']?.errors?.['minlength']" id="pwd-validator-cnt">Password must be atleast 6 characters</div>
                                <mat-label>Mobile Number</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput type="number" formControlName="phone" class="height-cnt">
                                </mat-form-field>
                                <div class="validator-color-cnt" *ngIf="submitOnRegister && f?.['phone']?.errors?.['required']" id="pwd-validator-cnt">Mobile Number is required</div>
                                <div class="validator-color-cnt" *ngIf="submitOnRegister && f?.['phone']?.errors?.['minlength']" id="pwd-validator-cnt">Mobile Number must be a valid [IND] Number</div>
                                <button mat-raised-button color="primary" [ngStyle]="{'background-color': '#A03037'}" class="login-btn" >Signup</button>
                            </form>
                        </mat-tab>
                    </mat-tab-group>     
                </div>
            </div>
        </div>
    </div>
</div>