#search-cnt {
    position: relative;
    width: 35vw;
    height: 6vh;
    bottom: 8.35vh;
    left: 25vw;
    border: none;
    outline: 1px solid #ccc;
}

.container {
    width: 94vw;
    margin-left: 2vw;
    position: relative;
    bottom: 5vh;
}
.celeb-cnt {
    width: 22vw;
    margin: 0% 39% 0%;
}

.order-confirm p {
    display: flex;
    justify-content: center;
    line-height: 0.8;
}

.user-data {
    border: 1px solid #DCDCDC;
    margin: 1% 20%;
}

.center-text-email {
    padding-left: 8%;
}

.center-text-address {
    padding-left: 15%;
}

.table-border {
    border-style: none solid none none;
    border-color: #00000040;
    border-width: 1px;
}

.mat-column-contact {
    width: 15vw;
    text-align: center;
}

.redirect {
    text-align: center;
    position: relative;
    top: 1vh;
}