<div class="books-sort-cnt">
    <p class="total-books-cnt">Books <span id="count-cnt">(19 items)</span></p>
    <mat-accordion class="expansion-cnt">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sort by relevance
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Price : Low to High</p>
          <p>Price : High to Low</p>
          <p>Newest Arrivals</p>
          </mat-expansion-panel>
      </mat-accordion>  
</div>
<div class="books-cnt">
    <div class="book-content" *ngFor="let bookObj of bookList">
        <div class="img-cnt">
            <div class="image">
                <img src="https://m.media-amazon.com/images/I/416Hql52NCL.jpg" alt="book_image_logo" class="book-image-cnt">
            </div>
        </div>
        <div class="img-content-cnt">
            <app-books [bookData]="bookObj"></app-books>
        </div>
    </div>
</div>