<div class="header-cnt">
    <app-header class="header">
    </app-header>
    <mat-icon id="search-bar">search</mat-icon>
    <input type="search" matInput placeholder="Search ..." id="search-cnt" [(ngModel)]="searchText">
</div>
<div class="books-container">
    <div class="books-sort-cnt">
        <p class="total-books-cnt">Books <span id="count-cnt">(19 items)</span></p>
          <button mat-button [matMenuTriggerFor]="menu" class="expansion-cnt">Sort by relevance<mat-icon id="expand-icon">expand_more</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="sortByIncreasingPrice()" class="sorting">Price : Low to High</button>
                <button mat-menu-item (click)="sortByDecreasingPrice()" class="sorting">Price : High to Low</button>
            </mat-menu>
    </div>
    <div class="books-cnt">
        <ng-template #bookTemplate let-bookObj>
            <div class="book-content" (click)="bookDetails(bookObj._id)">
                <div class="img-cnt">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/416Hql52NCL.jpg" alt="book_image_logo" class="book-image-cnt">
                        <p id="quick-view-cnt">QUICK VIEW</p>
                    </div>
                </div>
                <div class="img-content-cnt">
                    <app-books [bookData]="bookObj"></app-books>
                </div>
            </div>
        </ng-template>
        <ng-container *ngFor="let bookObj of getDisplayedBooks() | filter:searchText">
            <ng-container *ngTemplateOutlet="bookTemplate; context: {$implicit: bookObj}"></ng-container>
        </ng-container>
        <div>
            <mat-paginator [length]="bookList.length"
                    [pageSizeOptions]="[4,8, 16, 20]"
                    aria-label="Select page"
                    [pageSize]="8" class="paginator-cnt"
                    (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>