<div class="container">
    <div class="content">
        <div class="img-content-cnt">
            <img src="../../../assets/book.png" alt="book_logo" width="30px" height="20px">
            <p>Bookstore</p>
        </div>
        <input type="search" matInput placeholder="Search ..." id="search-cnt" [(ngModel)]="searchText" (input)="highlightText()">
        <div class="icons-cnt">
            <mat-label class="label-cnt">Manoj</mat-label>
            <mat-icon aria-hidden="false" aria-label="Example person icon" fontIcon="person" id="person-icon"></mat-icon>
            <mat-label class="label-cnt" id="cart-name-cnt">Cart</mat-label>
            <!-- <mat-icon [matBadge]=1"1" [matBadgeHidden]="badgeCount === 0" id="cart-icon" routerLink="/bookstore/cart">shopping_cart</mat-icon>
             -->
             <mat-icon id="cart-icon" routerLink="/bookstore/cart">shopping_cart</mat-icon>
        </div>
    </div>
</div>