* {
    padding: 0px;
    margin: 0px;
    border-radius: box-sizing;
}
.container {
    width: auto;
}
.content {
    position: relative;
    
    width: auto;
    height: 10vh;
    background-color: #2E1D1E;
}

#copyright-content {
    color: white;  
    margin: 0px 160px;
    padding-top: 18px;
}