<div class="home-cart-cnt">
    <p id="home-cnt" routerLink="/bookstore/books">Home /</p><span id="cart-cnt">My cart</span>
</div>
<div class="container">
    <div class="cart-container">
        <div class="location">
            <p id="cart-details">My cart (1)</p>
            <mat-form-field appearance="outline" class="loc-cnt">
                <select matNativeControl>
                    <option value="add1">SRM Nagar, Potheri, Kattankulathur, 603203</option>
                    <option value="add2">BridgeLabz Solutions LLP,No. 42, 14th Main, 15th Cross, Sector 4, Opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore</option>
                </select>
            </mat-form-field>
        </div>
        <div class="book-details" *ngFor="let cartBooks of bookList; let i = index">
            <div class="book">
                <img src="../../../assets/Image 12@2x.png" alt="book_img" width="60px">
            </div>
            <div class="bookinfo">
                <h3 id="bookname">{{ cartBooks.bookName }}</h3>
                <p>by {{ cartBooks.author }}</p>
                <div class="price-cnt">
                    <p class="discount-price-cnt">Rs. {{ cartBooks.discountPrice }}</p>
                    <p class="actual-price-cnt">Rs. {{ cartBooks.price }}</p>
                </div>
                <div class="buttons">
                    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" [ngStyle]="{'background-color': '#FAFAFA'}" (click)="productQuantity('min')">
                        <mat-icon style="color: black;">remove</mat-icon>
                    </button>
                    <button mat-raised-button color="primary" id="quantity" [ngStyle]="{'background-color': '#FAFAFA'}" style="color: black;" >{{items}}</button>
                    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" [ngStyle]="{'background-color': '#FAFAFA'}" (click)="productQuantity('max')">
                        <mat-icon style="color: black;">add</mat-icon>
                    </button>
                    <label id="remove" (click)="removeBook(cartDetails[i]._id,i)">Remove</label>
                </div>
            </div>
        </div>
        <div class="order-btn-cnt"><button mat-raised-button color="primary" class="order-btn">PLACE ORDER</button></div>
    </div>
    
</div>
<div class="address-details">
    <p>Address Details</p>
</div>
<div class="order-summary-details">
    <p>Order Summary</p>
</div>
<app-footer></app-footer>