* {
    margin: 0px;
    padding: 0px;
    border-radius: box-sizing;
}

.container {
    border: 1px solid #DCDCDC;
    width: 60vw;
    height: auto;
    margin: 0% 12.5%;
}

.home-cart-cnt {
    font-size: 12px;
    display: flex;
    margin: 1% 12.5%;
}

#home-cnt {
    opacity: 0.5;
    cursor: pointer;
}

#cart-cnt {
    margin-left: 5px;
}

.cart-container {
    height: auto;
    padding-bottom: 10px;
}

.location {
    display: flex;
    padding: 0% 4%;
    padding-top: 1.5%;
}

#cart-details {
    font-size: medium;
    padding-top: 1%;
}

.loc-cnt {
    margin-left: auto;
}

.book-details {
    display: flex;
    width: 30vw;
    margin-left: 4%;
}

.bookinfo {
    margin: 0% 10%;
    padding-bottom: 10%;
}

#bookname {
    line-height: 1;
    width: 20vw;
}

.buttons button {
    width: 2.5vw;
    border: 1px solid #707070;
    background-color: #FFFFFF;
}

.icon {
    border-radius: 50%;
    background-color: #DBDBDB;
    cursor: pointer;
}

.price-cnt {
    display: flex;
}

.actual-price-cnt {
    text-decoration: line-through;
    opacity: 0.5;
    font-size: xx-small;
    padding-left: 5%;
}

.buttons {
    margin-top: 3%;
    display: flex;
}

#quantity {
    position: relative;
    top: 2px;
    margin: 0% 5%;
    width: 4vw;
}

#remove {
    margin-top: 5%;
    margin-left: 15%;
    cursor: pointer;
}

.order-btn-cnt {
    padding-bottom: 10px;
}
.order-btn {
    margin-left: 75%;
    width: 12.5vw;
}

.address-details {
    border: 1px solid #DCDCDC;
    width: 60vw;
    height: auto;
    margin: 2% 12.5%;
}

.address-details p {
    padding: 3% 3% 1.5%;
}
.name-number {
    margin-left: 3.5vw;
}
#customer-details, #order-details{
    font-size: medium;
}
#new-address {
    position: relative;
    float: right;
    bottom: 8.75vh;
    right: 3vw;
    color: #A03037;
    border: 1px solid #A03037;
    padding: 1% 2.5%;
}
.work-address {
    position: relative;
    bottom: 9vh;
    margin-left: 3.5vw;
    margin-top: 12vh;
    height: 23vh;
}
.address-type {
    margin-left: 2.75vw;
}
#address-field {
    width: 41vw;
}
#selected-address {
    margin-left: 3.4vw;
}
.user-details {
    margin-left: 10px;
    margin-top: 30px;
    width: 56vw;
    height: 86vh;
}

.input-field {
    width: 20vw;
    display: flex;
}
.number-field {
    position: relative;
    left: 21vw;
    bottom: 16.75vh;
}
.address-option {
    position: relative;
    bottom: 18vh;
}
.home-address {
    display: flex;
    flex-direction: column;
}
.home-address mat-label {
    margin-left: 3.5vw;
}
.home-address button {
    width: 12vw;
    margin-left: auto;
    margin-top: 5vh;
}
#address {
    line-height: 2;
}
#address-data {
    width: 40vw;
}
.order-summary-details {
    border: 1px solid #DCDCDC;
    margin: 2% 12.5%;
    height: auto;
    width: 60vw;
}

#order-summary-books {
    margin-left: 2vw;
}
.bookData {
    display: flex;
    margin-bottom: 5vh;
}
.bookData img {
    width: 5vw;
    height: 16vh;
}
.bookInfo {
    margin-left: 3vw;
}
#author {
    line-height: 0;
    width: 10vw;
}
.order button {
    position: relative;
    margin-left: 45vw;
    margin-bottom: 4vh;
    width: 12vw;
}
.order-summary-details p {
    padding: 3% 3% 1.5%;
}